﻿@using Microsoft.AspNet.Http
@{
    Layout = "_Layout";
}
<!-- Begin preloader -->
<div id="preloader">
    <div class="pulse"></div>
</div>
<!-- End preloader -->
<!-- Begin body content -->
<div id="body-content">

    <!-- ============================
    ///// Begin top sliding bar /////
    =================================
    * Add class "slidingbar-fixed" to enable fixed slidingbar.
    -->
    <section id="top-slidingbar-wrapper" class="slidingbar-fixed">
        <div id="top-slidingbar">
            <div class="container">
                <div class="row">

                    <div class="col col-md-4">
                        <h4 class="top-slidingbar-heading text-gray-2">Information</h4>
                        <hr class="hr-width-1 hr-double margin-top-15">
                        <p class="small">
                            Romanian train routes on web. This is a personal project, not an official website. For more informations please go to contact section.
                        </p>
                    </div> <!-- /.col -->

                    <div class="col col-md-4">
                        <h4 class="top-slidingbar-heading text-gray-2">Contact</h4>
                        <hr class="hr-width-1 hr-double margin-top-15">
                        <ul class="list-unstyled small">
                            <li><i class="fa fa-home"></i> Facultatea de informatica, UAIC, Iasi</li>
                            <li><i class="fa fa-phone"></i> +4 0742 760 660</li>
                            <li><i class="fa fa-envelope-o"></i> <a href="mailto:support@mail.com">andrei.ciornei@outlook.com</a></li>
                        </ul>
                    </div> <!-- /.col -->

                    @if (@Context.Session.GetString("loged") == "1")
                    {
                        <div class="col col-md-4">

                            <h4 class="top-slidingbar-heading text-gray-2">Hello</h4>
                            <hr class="hr-width-1 hr-double margin-top-15">

                            <p class="small">
                                @Context.Session.GetString("nume"), you can see <a href="#">here</a> your saved routes and travels or you can
                            </p>

                            <div class="row">
                                <div class="col-lg-12">
                                    <button id="LogOut" type="submit" class="btn btn-primary btn-rounded btn-block btn-md">Log out</button>
                                </div>
                            </div>

                        </div>
                    }
                    else
                    {
                        <div class="col col-md-4">

                            <h4 class="top-slidingbar-heading text-gray-2">Log in</h4>
                            <hr class="hr-width-1 hr-double margin-top-15">

                            <!-- Begin thumbnail list
                            ==========================
                            * Use class "col-2", "col-3", "col-4" "col-5" or "col-6" for thumbnail list columns.
                            * Use class "gutter-1", "gutter-2", "gutter-3", "gutter-4" or "gutter-5" to add more space between items.
                            -->



                            <form id="contact-form" class="text-white wow fadeIn" data-wow-delay="0.3s">



                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input id="UsernameLogin" type="text" class="form-control" name="Name:" placeholder="Username" required="Please enter your username">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input id="PasswordLogin" type="password" class="form-control " name="Password" placeholder="Password" required="Please enter your password">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-8">
                                        <ul class="list-unstyled small">

                                            <li><i class="fa fa-envelope-o"></i> <a class="item-link inline-popup-trigger" href="#forgot_password">forgot your password?</a></li>
                                        </ul>

                                    </div>
                                </div>


                                <!--
                                popup forgot password
                                -->
                                <div id="forgot_password" class="inline-popup mfp-hide">
                                    <div class="inline-popup-inner">

                                        <!--
                                            <div class="inline-popup-image bg-image" style="background-image: url(img/portfolio/big/portfolio-img-1.jpg); background-position: 50% 50%;"></div>
                                        -->


                                        <div class="row margin-top-40">
                                            <div class="col-md-8 margin-bottom-20">
                                                <h2 class="no-margin-top"><i class="fa fa-train" style="margin-right:10px"></i>Reset your password here</h2>
                                                <p>Enter your email adress to proceed</p>

                                                <form id="contact-form" class="margin-top-80 text-white wow fadeIn" data-wow-delay="0.3s">

                                                    <!-- Begin hidden required fields (https://github.com/agragregra/uniMail) -->
                                                    <input type="hidden" name="project_name" value="yourwebsiteaddress.com"> <!-- Change value to your site name -->
                                                    <input type="hidden" name="admin_email" value="your@email.com"> <!-- Change value to your email address (where a message will be sent) -->
                                                    <input type="hidden" name="form_subject" value="Message from yourwebsiteaddress.com"> <!-- Change value to your own message subject -->
                                                    <!-- End Hidden Required Fields -->

                                                    <div class="row">
                                                        <div class="col-lg-8">
                                                            <div class="form-group">
                                                                <input type="email" class="form-control" name="Email:" placeholder="Your Email" required="Please enter your email adress">
                                                            </div>
                                                        </div>

                                                    </div>

                                                    <div class="row">
                                                        <div class="col-lg-8">
                                                            <button type="submit" class="btn btn-primary btn-rounded btn-block btn-lg">Reset</button>
                                                        </div>
                                                    </div>
                                                </form>


                                            </div>

                                        </div> <!-- /.row -->

                                    </div> <!-- /.inline-popup-inner -->

                                    <a class="inline-popup-close" href="#"><i class="fa fa-times"></i></a>

                                </div>




                            </form>
                            <div class="row">
                                <div class="col-lg-12">
                                    <button id="LoginButton" type="submit" class="btn btn-primary btn-rounded btn-block btn-md">Log in</button>
                                </div>
                            </div>


                            <!--
                            <ul class="thumb-list col-5 gutter-3">
                                <li><a target="_blank" href="https://www.instagram.com" class="thumb-list-item bg-image" style="background-image: url(img/misc/small/img-1.jpg);"></a></li>
                                <li><a target="_blank" href="https://www.instagram.com" class="thumb-list-item bg-image" style="background-image: url(img/misc/small/img-2.jpg);"></a></li>
                                <li><a target="_blank" href="https://www.instagram.com" class="thumb-list-item bg-image" style="background-image: url(img/misc/small/img-3.jpg);"></a></li>
                                <li><a target="_blank" href="https://www.instagram.com" class="thumb-list-item bg-image" style="background-image: url(img/misc/small/img-4.jpg);"></a></li>
                                <li><a target="_blank" href="https://www.instagram.com" class="thumb-list-item bg-image" style="background-image: url(img/misc/small/img-5.jpg);"></a></li>
                                <li><a target="_blank" href="https://www.instagram.com" class="thumb-list-item bg-image" style="background-image: url(img/misc/small/img-6.jpg);"></a></li>
                                <li><a target="_blank" href="https://www.instagram.com" class="thumb-list-item bg-image" style="background-image: url(img/misc/small/img-7.jpg);"></a></li>
                                <li><a target="_blank" href="https://www.instagram.com" class="thumb-list-item bg-image" style="background-image: url(img/misc/small/img-8.jpg);"></a></li>
                                <li><a target="_blank" href="https://www.instagram.com" class="thumb-list-item bg-image" style="background-image: url(img/misc/small/img-9.jpg);"></a></li>
                                <li><a target="_blank" href="https://www.instagram.com" class="thumb-list-item bg-image" style="background-image: url(img/misc/small/img-11.jpg);"></a></li>
                            </ul>
                            -->
                            <!-- End thumbnail list -->

                        </div>
                    }

                </div> <!-- /.row -->
            </div> <!-- /.container -->
        </div> <!-- /.top-slidingbar -->
        <!-- top-top-slidingbar trigger -->
        <div class="top-slidingbar-trigger-wrapper"><span id="plus_trigger" class="top-slidingbar-trigger">+</span></div>

    </section>
    <!-- End top sliding bar -->
    <!-- ==============
    ///// Begin header
    =================== -->
    <header id="header-wrap">

        <!-- Begin Header content
        ==========================
        * Use class "show-hide-on-scroll" to hide header on scroll down and show on scroll up.
        * Use class "fixed-top" to set header to fixed position.
        * Use class "transparent" for transparent header.
        * Use class "transparent-border" to enable bottom border on transparent header (class "transparent" is still required).
        * Use class "semi-transparent" for semi-transparent header.
        * Use class "header-fluid" for full width header.
        * Use class "header-dark" for dark header.
        * Use class "header-color" for header custom background color. By default theme main color is used, but you ca use custom background color classes (class "header-color" is still required!). Look into "helper.css" file for more info.
        * Use class "header-shadow" to enable header bottom shadow.
        * Use class "header-md", "header-lg" or "header-xlg" to change header size.
        -->
        <div id="header" class="header-md fixed-top header-dark transparent">
            <div id="scrollspy" class="container header-container">

                <!-- Begin logo  -->
                <div class="logo font-alter-1">
                    <a href="Home"><h1>TROW</h1></a>
                </div>
                <!-- End logo -->
                <!-- Begin navbar
                ================== -->
                <nav class="navbar pull-right">

                    <!-- Begin toggle button (get grouped for better mobile display) -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-main" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <!-- End toggle button-->
                    <!-- Begin nav main
                    ====================
                    * Use class "nav-separator" to enable nav links separators.
                    * Use class "nav-uppercase" to enable nav uppercase letters.
                    * Use class "mob-navbar-collapse-dark" to enable dark mobile menu.
                    * Use class "mob-navbar-align-center" to enable dark mobile menu.
                    * Note-1: class "mlc" in menu links = close mobile menu when clicking menu link (for one page template version only).
                    * Note-2: class "sm-scroll" in menu links = enable smooth scrolling when clicking menu link (for one page template version only).
                    -->
                    <div id="nav-main" class="collapse navbar-collapse mob-navbar-collapse-dark">

                        <!-- Begin navbar-nav
                        ======================
                        * Use class "nav-pills" to enable nav pills.
                        * Use class "pills-rounded", "pills-rounded-2x", "pills-rounded-3x" or "pills-rounded-4x" for rounded pills (class "nav-pills" is required).
                        * Use class "pills-gradient" to enable gradient pills (class "nav-pills" is required).
                        * Use class "nav-border-bottom" to enable menu links with bottom border (class "nav-pills" is required).
                        -->
                        <ul class="nav navbar-nav navbar-right nav-pills pills-rounded">

                            <li class="active"><a class="mlc sm-scroll" href="#intro">Home</a></li>
                            <li><span class="nav-link-separator">/</span></li>

                            <!-- Begin dropdown
                            ====================
                            * Use class "dropdown-hover" to make navigation toggle on desktop hover.
                            * Use class "dropdown-uppercase" to enable dropdown menu uppercase letters.
                            * Use class "dropdown-menu-dark" to enable dark dropdown menu.
                            * Use class "dropdown-menu-color" to enable custom colored dropdown menu.
                            * Use class "dropdown-menu-right" to right align the dropdown menu.
                            -->


                            <li><span class="nav-link-separator">/</span></li>
                            @if (@Context.Session.GetString("loged") == "1")
                            {
                                <li><a class="mlc sm-scroll" href="SavedRoutes">Saved routes</a></li>
                            }

                            <li><span class="nav-link-separator">/</span></li>



                            <li><a class="mlc sm-scroll" href="#section-5">The team</a></li>
                            <li><span class="nav-link-separator">/</span></li>
                            <li><a class="mlc sm-scroll" href="#section-8">Contact</a></li>

                        </ul>
                        <!-- End navbar-nav -->

                    </div>
                    <!-- End nav main -->

                </nav>
                <!-- End navbar -->

            </div> <!-- /.container -->
        </div>
        <!-- End header content -->

    </header>
    <!-- End header -->
    <!-- ==========================
    ///// Begin intro section /////
    ===============================
    * Use class "full-height" to full screen intro.
    * Use class "angle-left-bottom" or "angle-right-bottom" to change intro bottom angle.
    * Use class "bg-image-parallax" to enable background image parallax effect (otherwise use class "bg-image").
    -->
    <section id="intro" class="full-height bg-image-parallax" style="background-image:url(img/intro/train2.jpg)">

        <div class="intro-inner">

            <!-- Element cover
            ===================
            * Use background transparent color classes for colored opacity (example: "bg-transparent-6-dark", "bg-transparent-8-5-red" ... 1 to 95). Look into "helper.css" file for more info.
            -->
            <span class="cover bg-transparent-2-dark bg-transparent-gradient-2"></span>

            <!-- Begin intro caption -->
            <div class="intro-caption vertical-align-center text-center text-white">
                <h2 class="intro-title font-alter-1">
                    <span class="wow bounceIn" data-wow-delay="1.2s"><i class="fa fa-hashtag"></i></span>
                    <span class="wow fadeInDown" data-wow-delay="0.4s" data-wow-duration="0.5s">T</span>
                    <span class="wow fadeInDown" data-wow-delay="0.6s" data-wow-duration="0.5s">r</span>
                    <span class="wow fadeInDown" data-wow-delay="0.8s" data-wow-duration="0.5s">o</span>
                    <!--<span class="wow bounceIn" data-wow-delay="1.0s" >r</span>
                    <span class="wow bounceIn" data-wow-delay="1.0s">o</span>-->
                    <span class="wow fadeInDown" data-wow-delay="1.0s" data-wow-duration="0.5s">w</span>
                    <!--<span class="wow fadeInDown" data-wow-delay="1s" data-wow-duration="0.5s">o</span> -->
                </h2>
                <p class="intro-description wow fadeIn" data-wow-delay="2.2s">Train Routes on Web</p>
                <div class="margin-top-30">
                    <a href="#section-2" class="btn btn-white-bordered btn-rounded sm-scroll wow bounceIn" data-wow-delay="0.8s">Search routes</a>
                    @if (@Context.Session.GetString("loged") != "1")
                    {
                        <a href="#register_modal" class="btn btn-primary btn-rounded sm-scroll margin-top-10 wow bounceIn inline-popup-trigger" data-wow-delay="1s">Create account</a>
                    }
                    @if (@Context.Session.GetString("loged") != "1")
                    {
                        <a id="login_trigger" class="btn btn-primary btn-rounded sm-scroll margin-top-10 wow bounceIn  " data-wow-delay="1s">Login</a>
                    }
                    else
                    {
                        <a id="logout_button" class="btn btn-primary btn-rounded sm-scroll margin-top-10 wow bounceIn  " data-wow-delay="1s">Logout</a>


                    }
                </div>
            </div>
            <!-- End intro caption -->
            <!-- Made with love :) -->
            <div class="made-with-love hidden-xs">
                <p class="text-gray">Made with <span class="text-main"><i class="fa fa-heart-o"></i></span></p>
            </div>

            <!-- Scroll down arrow -->
            <a class="scroll-down-arrow sm-scroll text-center text-white" href="#section-2"><span><i class="fa fa-chevron-down"></i></span></a>

        </div>

    </section>
    <!-- End intro section -->
    <!-- ===================================
    ///// Begin call to action section /////
    ========================================
    * Use class "angle-left-bottom" or "angle-right-bottom" to change intro bottom angle.
    * Use class "bg-image-fixed" to make background image fixed (otherwise use class "bg-image").
    * Use class "bg-image-parallax" to enable background image parallax effect (otherwise use class "bg-image").
    * Use class "bg-pattern" if you use background patterns (example: http://subtlepatterns.com/). Combine with class "bg-image-fixed".
    -->
    <section class="call-to-action-section angle-left-bottom bg-dark bg-pattern" style="background-image: url(img/patterns/ptn-2.png);">

        <!-- Element cover
        ===================
        * Use background transparent color classes for colored opacity (example: "bg-transparent-6-dark", "bg-transparent-8-5-red" ... 1 to 95). Look into "helper.css" file for more info.
        -->
        <span class="cover bg-transparent-4-5-dark"></span>

        <div class="container">
            <div class="row wow fadeIn">

                <!-- Left column -->
                <div class="col-md-8 padding-right-40">

                    <h2 class="call-to-action-title text-gray-2">Register for more benefits</h2>
                    <p class="lead call-to-action-text text-gray">
                        If you want to keep traking on your favourite routes go ahead and become a member
                    </p>
                    <p class="call-to-action-text lead text-gray margin-top-30"><strong>Cool / Innovative / Creative</strong></p>

                </div> <!-- /.col -->
                <!-- Right column -->
                <div class="col-md-4 text-center">

                    <a href="#register_modal" class="btn btn-primary-bordered btn-xlg btn-block sm-scroll inline-popup-trigger"><i class="fa fa-train"></i> Click to become cool</a>
                    <br>
                    <a href="#section-6" class="small text-gray">Or Learn More.. <i class="fa fa-graduation-cap"></i></a>



                    <!--
                    register popup
                    -->

                    <div id="register_modal" class="inline-popup mfp-hide">
                        <div class="inline-popup-inner">

                            <!--
                                <div class="inline-popup-image bg-image" style="background-image: url(img/portfolio/big/portfolio-img-1.jpg); background-position: 50% 50%;"></div>
                            -->


                            <div class="row margin-top-40">
                                <div class="col-md-8 margin-bottom-20">
                                    <h2 class="no-margin-top"><i class="fa fa-train" style="margin-right:10px"></i>Register an account</h2>
                                    <p>Enter your credentials to proceed</p>

                                    <form id="contact-form" class="margin-top-80 wow fadeIn" data-wow-delay="0.3s">

                                        <!-- Begin hidden required fields (https://github.com/agragregra/uniMail) -->
                                        <!-- End Hidden Required Fields -->

                                        <div class="row">
                                            <div class="col-lg-8">
                                                <div class="form-group">
                                                    <input id="email_register" type="email" class="form-control" name="Email:" placeholder="Your Email" required="Please enter your email adress">
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-lg-8">
                                                <div class="form-group">
                                                    <input id="username_register" type="email" class="form-control" name="Username:" placeholder="Username" required="Please enter your email adress">
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="col-lg-8">
                                                <div class="form-group">
                                                    <input id="password_register" type="password" class="form-control" name="Password:" placeholder="Password" required="Please enter your email adress">
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="col-lg-8">
                                                <div class="form-group">
                                                    <input id="repeat_password_register" type="password" class="form-control" name="Repeat password:" placeholder="Repeat password" required="Please enter your email adress">
                                                </div>
                                            </div>

                                        </div>


                                    </form>

                                    <div class="row">
                                        <div class="col-lg-8">
                                            <button id="register_button" class="btn btn-primary btn-rounded btn-block btn-lg">Register</button>
                                        </div>
                                    </div>


                                </div>

                            </div> <!-- /.row -->

                        </div> <!-- /.inline-popup-inner -->

                        <a class="inline-popup-close" href="#"><i class="fa fa-times"></i></a>

                    </div>



                </div> <!-- /.col -->

            </div><!-- /.row -->
        </div> <!-- /.container -->
    </section>
    <!-- End call to action section -->
    <!-- =================================

    ///// Aici am taiat //////

    ///// Begin section 2 (services) /////
    ======================================
    * Use class "angle-left-top", "angle-right-top", "angle-left-bottom", "angle-right-bottom" to change section angle.
    * Use class "bg-image-fixed" to make background image fixed (otherwise use class "bg-image").
    * Use class "bg-image-parallax" to enable background image parallax effect (otherwise use class "bg-image").
    * Use class "bg-pattern" if you use background patterns (example: http://subtlepatterns.com/). Combine with class "bg-image-fixed".
    -->
    <section id="section-2" class="services-section bg-dark angle-right-top angle-left-bottom bg-image-parallax" style="background-image: url(img/misc/bg-4.jpg);">

        <!-- Element cover
        ===================
        * Use background transparent color classes for colored opacity (example: "bg-transparent-6-dark", "bg-transparent-8-5-red" ... 1 to 95). Look into "helper.css" file for more info.
        -->
        <span class="cover bg-transparent-9-dark"></span>

        <div class="container">
            <div class="row">

                <!-- Left column -->
                <div class="col-md-5">

                    <!-- Begin heading
                    ===================
                    * Use class "heading-center" or "heading-right" to align heading.
                    * Use class "heading-xs", "heading-sm", "heading-md", "heading-lg" or "heading-xlg" to shange heading size.
                    * Use class "heading-hover" to enable heading hover effect.
                    * Use class "heading-uppercase" to enable uppercase letters.
                    -->
                    <div class="heading heading-lg text-white heading-hover wow fadeIn" data-wow-delay="0.2s">
                        <span class="heading-title-ghost">Fast routes</span>
                        <h2 class="heading-title">Fast results</h2>

                        <!-- Begin divider
                        ===================
                        * Use class "hr-width-1", "hr-width-2" -> up to "hr-width-10" to shange divider width.
                        * Use class "hr-1x", "hr-2x", "hr-3x", "hr-4x" or "hr-5x" to shange divider size.
                        * Use class "hr-dotted", "hr-dashed" or "hr-double" to shange divider style.
                        -->
                        <hr class="hr-width-1 hr-5x border-main">
                        <!-- End divider -->

                        <p class="heading-tescription lead text-gray-2">
                            Search for your prefered routes and get instant results.
                        </p>
                        <br>
                    </div>
                    <!-- End heading -->

                </div> <!-- /.col -->
                <!-- Right column -->
                <div class="col-md-7">

                    <div class="row">
                        <div class="col-md-12">
                            <!-- Begin info box-4 -->
                            <div class="info-box info-box-4 info-box-white wow fadeIn">
                                <span class="info-box-icon rounded-icon bg-main text-white"><i class="fa fa-globe"></i></span>
                                <div class="info-box-info">
                                    <h4 class="info-box-title">Search</h4>
                                    <p class="info-box-text text-gray-2">
                                        Enter the place where you want to go
                                    </p>
                                </div>

                                <form id="routes" class="text-white wow fadeIn" data-wow-delay="0.3s">

                                    <div class="row" style="height:20px"></div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input id="origin" type="text" class="form-control" name="Your destination" placeholder="Your place" required="Please enter your username">
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input id="destination" type="text" class="form-control " name="Subject:" placeholder="Your destination" required="Please enter your password">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <a id="search_link" class="btn btn-white-bordered btn-rounded"><i class="fa fa-external-link"></i> Search both ways</a>
                                            <a id="search_link_one_way" class="btn btn-white-bordered btn-rounded"><i class="fa fa-external-link"></i> Search one way</a>
                                            <a id="search_link_compose" class="btn btn-white-bordered btn-rounded"><i class="fa fa-external-link"></i> Search Compose</a>
                                        </div>
                                        <div id="advance_search_show" class="col-md-12" style="display:none;">

                                            <p class="info-box-text text-gray-2">
                                                Searching with a via
                                            </p>



                                            <div class="form-group">
                                                <input id="origin1" type="text" class="form-control" name="Your destination" placeholder="Your place" required="Please enter your username">
                                            </div>



                                            <div class="form-group">
                                                <input id="destination1" type="text" class="form-control " name="Subject:" placeholder="Your destination" required="Please enter your password">
                                            </div>


                                            <div class="form-group">
                                                <input id="via" type="text" class="form-control" name="Your destination" placeholder="Via." required="Please enter your username">
                                            </div>

                                            <a id="search_with_via" class="btn btn-white-bordered btn-rounded"><i class="fa fa-external-link"></i> Search both ways</a>
                                            <a id="search_with_via_one_way" class="btn btn-white-bordered btn-rounded"><i class="fa fa-external-link"></i> Search one way</a>
                                            <a id="search_via_compose" class="btn btn-white-bordered btn-rounded"><i class="fa fa-external-link"></i> Search Compose</a>

                                            <p class="info-box-text text-gray-2">
                                                Searching with avoiding
                                            </p>


                                            <div class="form-group">
                                                <input id="origin2" type="text" class="form-control" name="Your destination" placeholder="Your place" required="Please enter your username">
                                            </div>



                                            <div class="form-group">
                                                <input id="destination2" type="text" class="form-control " name="Subject:" placeholder="Your destination" required="Please enter your password">
                                            </div>


                                            <div class="form-group">
                                                <input id="avoid" type="text" class="form-control" name="Your destination" placeholder="Avoid" required="Please enter your username">
                                            </div>

                                            <a id="search_with_avoiding" class="btn btn-white-bordered btn-rounded"><i class="fa fa-external-link"></i> Search both ways</a>
                                            <a id="search_with_avoiding_one_way" class="btn btn-white-bordered btn-rounded"><i class="fa fa-external-link"></i> Search one way</a>
                                            <a id="search_link_compose" class="btn btn-white-bordered btn-rounded"><i class="fa fa-external-link"></i> Search Compose</a>


                                        </div>


                                        <a id="advanced_search" href="javascript:void(0);" class="small text-gray" style="margin-left:15px">Show advanced search </a>
                                    </div>




                                </form>

                            </div>
                            <!-- End info box-4 -->
                        </div> <!-- /.col -->



                    </div><!-- /.row -->
                </div> <!-- /.col -->

            </div><!-- /.row -->
        </div> <!-- /.container -->

    </section>
    <!-- End section 2 -->
    <!-- ==================================


    ///// Aici am taiat /////


    ///// Begin section 5 (team) /////
    ============================== -->
    <section id="section-5" class="team-section">

        <div class="container">
            <div class="row wow fadeIn">

                <!-- Left column -->
                <div class="col-md-6">

                    <!-- Begin heading
                    ===================
                    * Use class "heading-center" or "heading-right" to align heading.
                    * Use class "heading-xs", "heading-sm", "heading-md", "heading-lg" or "heading-xlg" to shange heading size.
                    * Use class "heading-hover" to enable heading hover effect.
                    * Use class "heading-uppercase" to enable uppercase letters.
                    -->
                    <div class="heading heading-lg heading-hover">
                        <span class="heading-title-ghost">The Team</span>
                        <h2 class="heading-title">The Team</h2>

                        <!-- Begin divider
                        ===================
                        * Use class "hr-width-1", "hr-width-2" -> up to "hr-width-10" to shange divider width.
                        * Use class "hr-1x", "hr-2x", "hr-3x", "hr-4x" or "hr-5x" to shange divider size.
                        * Use class "hr-dotted", "hr-dashed" or "hr-double" to shange divider style.
                        -->
                        <hr class="hr-width-1 hr-5x border-main">
                        <!-- End divider -->

                    </div>
                    <!-- End heading -->

                </div> <!-- /.col -->
                <!-- Right column -->
                <div class="col-md-6">

                    <p class="lead">
                        A long time ago.. 3 Knights rised from the darkest deep of a long time forgoten college... FII!! ... Few were brave and fewer
                        strong. But this 3 MEN rised and rised and conquered all the mighty ashen kings of that college. Those three where the ashen ones.
                    </p>

                </div> <!-- /.col -->

            </div> <!-- /.row -->
        </div> <!-- /.container -->
        <!-- Begin team -->
        <div class="team wow fadeIn" data-wow-delay="0.3s">
            <div class="container">

                <!-- Begin content carousel (http://www.owlcarousel.owlgraphic.com)
                ====================================================================
                * Use class "nav-outside" for outside nav.
                * Use class "nav-outside-top" for outside top nav.
                * Use class "nav-rounded" for rounded nav.
                * Use class "dots-outside" for outside dots.
                * Use class "dots-left" or "dots-right" to align dots.
                * Use class "dots-rounded" for rounded dots.
                * Available carousel data attributes:
                        data-items="5".......................(items visible on desktop)
                        data-tablet-landscape="4"............(items visible on mobiles)
                        data-tablet-portrait="3".............(items visible on mobiles)
                        data-mobile-landscape="2"............(items visible on tablets)
                        data-mobile-portrait="1".............(items visible on tablets)
                        data-loop="true".....................(true/false)
                        data-margin="10".....................(space between items)
                        data-center="true"...................(true/false)
                        data-start-position="0"..............(item start position)
                        data-animate-in="fadeIn".............(more animations: http://daneden.github.io/animate.css/)
                        data-animate-out="fadeOut"...........(more animations: http://daneden.github.io/animate.css/)
                        data-mouse-drag="false"..............(true/false)
                        data-touch-drag="false"..............(true/false)
                        data-autoheight="true"...............(true/false)
                        data-autoplay="true".................(true/false)
                        data-autoplay-timeout="5000".........(milliseconds)
                        data-autoplay-hover-pause="true".....(true/false)
                        data-autoplay-speed="800"............(milliseconds)
                        data-drag-end-speed="800"............(milliseconds)
                        data-lazy-load="true"................(true/false)
                        data-nav="true"......................(true/false)
                        data-nav-speed="800".................(milliseconds)
                        data-dots="false"....................(true/false)
                        data-dots-speed="800"................(milliseconds)
                -->
                <div class="owl-carousel team-carousel dots-outside" data-items="3" data-margin="20" data-tablet-landscape="3" data-tablet-portrait="2" data-mobile-landscape="2" data-mobile-portrait="1">

                    <!-- Begin team box
                    =====================
                    * Use class "team-box-hover" to enable team box hover effect.
                    * Use class "team-box-rounded" to enable team box rounded image.
                    -->
                    <div class="team-box team-box-hover team-box-rounded">
                        <div class="team-image">
                            <img src="img/team/andrei.jpg" alt="Ciornei Andrei">
                        </div>

                        <div class="team-info text-center">
                            <h4 class="team-info-title">Ciornei Andrei</h4>
                            <p class="team-info-text">Developer</p>

                            <!-- Begin social icons -->
                            <ul class="social-icons">
                                <li><a class="btn btn-social-min btn-default btn-rounded-full btn-sm" href="https://www.facebook.com/panda.power23" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                <li><a class="btn btn-social-min btn-default btn-rounded-full btn-sm" href="https://twitter.com/andrei_ciornei" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <li><a class="btn btn-social-min btn-default btn-rounded-full btn-sm" href="https://bitbucket.org/ciornei/" target="_blank"><i class="fa fa-bitbucket"></i></a></li>
                                <li><a class="btn btn-social-min btn-default btn-rounded-full btn-sm" href="https://www.linkedin.com/in/andrei-ciornei-996ab9109?trk=nav_responsive_tab_profile_pic" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                            <!-- End social icons -->

                        </div>
                    </div>
                    <!-- End team box -->
                    <!-- Begin team box
                    =====================
                    * Use class "team-box-hover" to enable team box hover effect.
                    * Use class "team-box-rounded" to enable team box rounded image.
                    -->
                    <div class="team-box team-box-hover team-box-rounded">
                        <div class="team-image">
                            <img src="img/team/vlad.jpg" alt="Cobzaru Vlad">
                        </div>

                        <div class="team-info text-center">
                            <h4 class="team-info-title">Cobzaru Vlad</h4>
                            <p class="team-info-text">Developer</p>

                            <!-- Begin social icons -->
                            <ul class="social-icons">
                                <li><a class="btn btn-social-min btn-default btn-rounded-full btn-sm" href="" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                <li><a class="btn btn-social-min btn-default btn-rounded-full btn-sm" href="" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <li><a class="btn btn-social-min btn-default btn-rounded-full btn-sm" href="" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                                <li><a class="btn btn-social-min btn-default btn-rounded-full btn-sm" href="" target="_blank"><i class="fa fa-dribbble"></i></a></li>
                            </ul>
                            <!-- End social icons -->

                        </div>
                    </div>
                    <!-- End team box -->
                    <!-- Begin team box
                    =====================
                    * Use class "team-box-hover" to enable team box hover effect.
                    * Use class "team-box-rounded" to enable team box rounded image.
                    -->
                    <div class="team-box team-box-hover team-box-rounded">
                        <div class="team-image">
                            <img src="img/team/florin.jpg" alt="Cernat Florin">
                        </div>

                        <div class="team-info text-center">
                            <h4 class="team-info-title">Cernat Florin</h4>
                            <p class="team-info-text">Developer</p>

                            <!-- Begin social icons -->
                            <ul class="social-icons">
                                <li><a class="btn btn-social-min btn-default btn-rounded-full btn-sm" href="" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                <li><a class="btn btn-social-min btn-default btn-rounded-full btn-sm" href="" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <li><a class="btn btn-social-min btn-default btn-rounded-full btn-sm" href="" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                                <li><a class="btn btn-social-min btn-default btn-rounded-full btn-sm" href="" target="_blank"><i class="fa fa-dribbble"></i></a></li>
                            </ul>
                            <!-- End social icons -->

                        </div>
                    </div>
                    <!-- End team box -->
                    <!-- Begin team box
                    =====================
                    * Use class "team-box-hover" to enable team box hover effect.
                    * Use class "team-box-rounded" to enable team box rounded image.
                    -->
                    <!-- End team box -->
                    <!-- Begin team box
                    =====================
                    * Use class "team-box-hover" to enable team box hover effect.
                    * Use class "team-box-rounded" to enable team box rounded image.
                    -->
                    <!-- End team box -->

                </div>
                <!-- End team carousel -->

            </div> <!-- /.container -->
        </div>
        <!-- End team -->

    </section>
    <!-- End section 5 -->
    <!-- ====================================
    ///// Begin section 9 (video promo) /////
    =========================================
    * Use class "angle-left-top", "angle-right-top", "angle-left-bottom", "angle-right-bottom" to change section angle.
    -->
    <!-- Youtube video background
    NOTE: Replace videoURL with your own (videoURL:'your-youtube-video-URL').
    Do not forget to add your background image for mobile devices (because the video background doesn't work on mobile devices).
    More info about YTPlayer: https://github.com/pupunzi/jquery.mb.YTPlayer -->
    <section id="section-9" class="video-section youtube-bg text-white angle-right-top angle-left-bottom"
             style="background-image: url(img/video-bg/promo-video-bg.jpg); background-position: 50% 50%;"
             data-property="{
			      videoURL: 'https://www.youtube.com/watch?v=s6IKJUmw70w',
			      containment: 'self',
			      startAt: 0,
			      stopAt: 0,
			      autoPlay: true,
			      loop: true,
			      mute: true,
			      showControls: false,
			      showYTLogo: false,
			      realfullscreen: true,
			      addRaster: false,
			      optimizeDisplay: true,
			      stopMovieOnBlur: true
				}">

        <!-- Element cover
        ===================
        * Use background transparent color classes for colored opacity (example: "bg-transparent-6-dark", "bg-transparent-8-5-red" ... 1 to 95). Look into "helper.css" file for more info.
        -->
        <span class="cover bg-transparent-8-dark"></span>

        <div class="video-section-caption vertical-align-center">

            <!-- Begin heading
            ===================
            * Use class "heading-center" or "heading-right" to align heading.
            * Use class "heading-xs", "heading-sm", "heading-md", "heading-lg" or "heading-xlg" to shange heading size.
            * Use class "heading-hover" to enable heading hover effect.
            * Use class "heading-uppercase" to enable uppercase letters.
            -->
            <div class="heading heading-lg heading-center heading-hover wow fadeIn">
                <span class="heading-title-ghost">Experience train routes</span>
                <h2 class="heading-title">Experience train routes</h2>
                <a class="video-btn bg-main" href="https://www.youtube.com/user/HQMEDIA/videos" target="_blank"><i class="fa fa-play"></i></a>
                <p class="heading-tescription lead text-gray-2">
                    Fast delivery of your prefered routes.
                </p>
            </div>
            <!-- End heading -->

        </div> <!-- /.vertical-align-center -->

    </section>
    <!-- End section 7 -->
    <!-- ===========================================
    ///// Begin section 6 (blog/articles list) /////
    ============================================ -->
    <section id="section-6" class="blog-section">

        <div class="container">
            <div class="row wow fadeIn">

                <!-- Left column -->
                <div class="col-md-6">

                    <!-- Begin heading
                    ===================
                    * Use class "heading-center" or "heading-right" to align heading.
                    * Use class "heading-xs", "heading-sm", "heading-md", "heading-lg" or "heading-xlg" to shange heading size.
                    * Use class "heading-hover" to enable heading hover effect.
                    * Use class "heading-uppercase" to enable uppercase letters.
                    -->
                    <div class="heading heading-lg heading-hover">
                        <span class="heading-title-ghost">Istorie</span>
                        <h2 class="heading-title">Istorie</h2>

                        <!-- Begin divider
                        ===================
                        * Use class "hr-width-1", "hr-width-2" -> up to "hr-width-10" to shange divider width.
                        * Use class "hr-1x", "hr-2x", "hr-3x", "hr-4x" or "hr-5x" to shange divider size.
                        * Use class "hr-dotted", "hr-dashed" or "hr-double" to shange divider style.
                        -->
                        <hr class="hr-width-1 hr-5x border-main">
                        <!-- End divider -->

                    </div>
                    <!-- End heading -->

                </div> <!-- /.col -->
                <!-- Right column -->
                <div class="col-md-6">

                    <p class="lead">
                        <strong>Căile Ferate Române (CFR)</strong>  este compania națională de transport feroviar a României. CFR administrează infrastructura pentru transportul de călători și marfă pe calea ferată din țară. Rețeaua este integrată semnificativ cu alte rețele feroviare europene, oferind servicii paneuropene de transport de pasageri și marfă. CFR, ca instituție, a fost fondată în 1880, după ce prima cale ferată pe teritoriul actual al României a fost deschisă în 1854.
                    </p>

                </div> <!-- /.col -->

            </div> <!-- /.row -->
        </div> <!-- /.container -->

        <div class="container">

            <!-- Begin blog list
            =====================
            * Use class "blog-list-classic" to enable classic blog list layout.
            -->
            <div class="blog-list margin-top-80">
                <div class="blog-wrap">

                    <!-- Begin blog list item 1
                    ============================ -->
                    <div class="blog-list-item row wow fadeInUp">

                        <!-- Left column -->
                        <div class="col col-md-6 no-padding">
                            <a href="#" class="bco blog-list-image bg-image" style="background-image: url(img/iliketrains/train-1.jpg); background-position: 50% 50%;"></a>
                        </div> <!-- /.col -->
                        <!-- Right column -->
                        <div class="col col-md-6 no-padding">
                            <div class="bco blog-list-info">
                                <h2 class="blog-list-title"><a href="#" title="Secolul al XIX-lea">Secolul al XIX-lea</a></h2>
                                <div class="blog-list-meta">
                                    <a href="#" class="article-time">07 jun 2016</a> - in
                                    <a href="#" class="article-category">#istorie</a>
                                </div>
                                <p class="blog-list-desc">
                                    Prima linie din Moldova a fost deschisă la 3/15 decembrie 1869 pe traseul Suceava (Burdujeni) - Roman, în lungime de 102,5 km.

                                    La 10 septembrie 1868 a fost finalizată Gara de Nord din București. În ianuarie 1880 Parlamentul României a votat pentru transferul liniei Vârciorova - Roman din administrarea privată a consorțiului Strousberg la administrarea națională, guvernul formând instituția Căilor Ferate Române, care a continuat să existe până în prezent.
                                </p>
                            </div>
                        </div> <!-- /.col -->

                    </div>
                    <!-- End blog list item 1 -->
                    <!-- Begin blog list item 2
                    ============================ -->
                    <div class="blog-list-item row wow fadeInUp">

                        <!-- Left column -->
                        <div class="col col-md-6 col-md-push-6 no-padding">
                            <a href="#" class="bco blog-list-image bg-image" style="background-image: url(img/iliketrains/train-2.jpg); background-position: 50% 50%;"></a>
                        </div> <!-- /.col -->
                        <!-- Right column -->
                        <div class="col col-md-6 col-md-pull-6 no-padding">
                            <div class="bco blog-list-info">
                                <h2 class="blog-list-title"><a href="#" title="Perioada comunistă">Perioada comunistă</a></h2>
                                <div class="blog-list-meta">
                                    <a href="#" class="article-time">07 jun 2016</a> -in
                                    <a href="#" class="article-category">#istorie</a>
                                </div>
                                <p class="blog-list-desc">
                                    Prima linie electrificată a fost București - Brașov, pe care volumul de pasageri și marfă era foarte mare. Primul proiect pentru electrificarea unor porțiuni din această linie a fost realizat în 1913 de către I. S. Gheorghiu, iar pentru demararea lucrărilor guvernul a luat o serie de hotărâri în anii 1929, 1934 și 1942, urmând ca din 1942 să se treacă la realizarea proiectului. Din cauza războiului lucrul la electrificare a început însă abia în 1959, iar prima porțiune electrificată, Brașov - Predeal, a fost deschisă la 9 decembrie 1965. La 20 aprilie 1966 s-a deschis o nouă porțiune, Predeal - Câmpina.
                                </p>
                            </div>
                        </div> <!-- /.col -->

                    </div>
                    <!-- End blog list item 2 -->
                    <!-- Begin blog list item 4
                    ============================ -->
                    <div class="blog-list-item row wow fadeInUp">

                        <!-- Left column -->
                        <div class="col col-md-6 col-md-push-6 no-padding">
                            <a href="#" class="bco blog-list-image bg-image" style="background-image: url(img/iliketrains/train-3.jpg); background-position: 50% 50%;"></a>
                        </div> <!-- /.col -->
                        <!-- Right column -->
                        <div class="col col-md-6 col-md-pull-6 no-padding">
                            <div class="bco blog-list-info">
                                <h2 class="blog-list-title"><a href="#" title="Istoria recentă">Istoria recentă</a></h2>
                                <div class="blog-list-meta">
                                    <a href="#" class="article-time">07 jun 2016</a> -in
                                    <a href="#" class="article-category">#istorie</a>
                                </div>
                                <p class="blog-list-desc">
                                    După revoluția din 1989, când a căzut regimul comunist, România a rămas cu una din cele mai mari, dense și utilizate rețele de căi ferate din Europa, dar, în același timp, a rămas în urmă cu întreținerea acestei infrastructuri
                                </p>
                            </div>
                        </div> <!-- /.col -->

                    </div>
                    <!-- End blog list item 4 -->

                </div> <!-- /.blog-wrap -->
            </div>
            <!-- End blog-list -->



        </div> <!-- /.container -->

    </section>
    <!-- End section 6 -->
    <!-- =====================================

    ///// Aici am taiat /////

    ///// Begin section 8 (contact) /////
    =====================================
    * Use class "angle-left-top", "angle-right-top", "angle-left-bottom", "angle-right-bottom" to change section angle.
    * Use class "bg-image-fixed" to make background image fixed (otherwise use class "bg-image").
    * Use class "bg-image-parallax" to enable background image parallax effect (otherwise use class "bg-image").
    * Use class "bg-pattern" if you use background patterns (example: http://subtlepatterns.com/). Combine with class "bg-image-fixed".
    -->
    <section id="section-8" class="contact-section bg-dark angle-right-top bg-image-parallax" style="background-image: url(img/iliketrains/train-4.jpg);">

        <!-- Element cover
        ===================
        * Use background transparent color classes for colored opacity (example: "bg-transparent-6-dark", "bg-transparent-8-5-red" ... 1 to 95). Look into "helper.css" file for more info.
        -->
        <span class="cover bg-transparent-9-dark bg-transparent-gradient-1"></span>

        <div class="container">
            <div class="row wow fadeIn">

                <!-- Left column -->
                <div class="col-md-7">

                    <!-- Begin heading
                    ===================
                    * Use class "heading-center" or "heading-right" to align heading.
                    * Use class "heading-xs", "heading-sm", "heading-md", "heading-lg" or "heading-xlg" to shange heading size.
                    * Use class "heading-hover" to enable heading hover effect.
                    * Use class "heading-uppercase" to enable uppercase letters.
                    -->
                    <div class="heading heading-lg heading-hover">
                        <span class="heading-title-ghost">Contact Us</span>
                        <h2 class="heading-title text-white">Contact Us</h2>

                        <!-- Begin divider
                        ===================
                        * Use class "hr-width-1", "hr-width-2" -> up to "hr-width-10" to shange divider width.
                        * Use class "hr-1x", "hr-2x", "hr-3x", "hr-4x" or "hr-5x" to shange divider size.
                        * Use class "hr-dotted", "hr-dashed" or "hr-double" to shange divider style.
                        -->
                        <hr class="hr-width-1 hr-5x border-main">
                        <!-- End divider -->

                        <p class="heading-tescription lead text-gray-2">
                            Daca aveti intrebari, ne puteti contacta utilizand acest formular.
                        </p>
                    </div>
                    <!-- End heading -->

                </div> <!-- /.col -->
                <!-- Right column -->
                <div class="col-md-5 text-gray-2 padding-left-40">

                    <div class="contact-info">
                        <p><i class="fa fa-home"></i> Universitatea Alexandru Ioan Cuza, Strada Gen. Berthelot 16, Iași</p>
                        <p><i class="fa fa-phone"></i> phone: 0232 201 090</p>
                        <p><i class="fa fa-envelope"></i> <a href="company.email@info.com" target="_blank">company.email@info.com</a></p>
                    </div>

                    <h5 class="margin-top-40 margin-bottom-20">Follow Us:</h5>

                    <!-- Begin social icons -->
                    <ul class="social-icons margin-bottom-20">
                        <li><a class="btn btn-social-min btn-white-bordered btn-rounded-full btn-lg" href="" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="btn btn-social-min btn-white-bordered btn-rounded-full btn-lg" href="" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a class="btn btn-social-min btn-white-bordered btn-rounded-full btn-lg" href="" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                        <li><a class="btn btn-social-min btn-white-bordered btn-rounded-full btn-lg" href="" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                        <li><a class="btn btn-social-min btn-white-bordered btn-rounded-full btn-lg" href="" target="_blank"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                    <!-- End social icons -->

                </div> <!-- /.col -->

            </div> <!-- /.row -->

            <div class="row">
                <div class="col-md-12">

                    <!-- Begin contact form
                    ========================= -->
                    <form id="contact-form" class="margin-top-80 text-white wow fadeIn" data-wow-delay="0.3s">

                        <!-- Begin hidden required fields (https://github.com/agragregra/uniMail) -->
                        <input type="hidden" name="project_name" value="yourwebsiteaddress.com"> <!-- Change value to your site name -->
                        <input type="hidden" name="admin_email" value="your@email.com"> <!-- Change value to your email address (where a message will be sent) -->
                        <input type="hidden" name="form_subject" value="Message from yourwebsiteaddress.com"> <!-- Change value to your own message subject -->
                        <!-- End Hidden Required Fields -->

                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="Name:" placeholder="Your Name" required="">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <input id="email_mail" type="email" class="form-control" name="Email:" placeholder="Your Email" required="">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <input id="subiect_mail" type="text" class="form-control" name="Subject:" placeholder="Subject" required="">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <textarea id="continut_mail" class="form-control" name="Message:" rows="8" placeholder="Your Message (text only)" required=""></textarea>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-lg-12">
                            <button id="send_mail" class="btn btn-primary btn-rounded btn-block btn-lg">Send Message</button>
                        </div>
                    </div>

                    <!-- End contact form -->

                </div> <!-- /.col-->
            </div> <!-- /.row -->
        </div> <!-- /.container -->

    </section>
    <!-- End section 8 -->
    <!-- ===================
    ///// Begin footer /////
    ========================
    * Use class "angle-left-top" or "angle-right-top" to change footer top angle.
    -->
    <footer id="footer" class="bg-dark text-white">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright small">
                        <a href="#body-content">TROW - Train routes on web</a>
                        <p>Copyright 2016 / All rights reserved</p>
                    </div>
                </div> <!-- /.col -->
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </footer>
    <!-- End footer -->
    <!-- Scroll to top button -->
    <a href="#body-content" class="scrolltotop sm-scroll bg-main"><i class="fa fa-chevron-up"></i></a>

</div>
