﻿@using Microsoft.AspNet.Http
<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Title -->
    <title>TROW</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon (http://www.favicon-generator.org/) -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <!-- Google font (https://www.google.com/fonts) -->
    <link href='http://fonts.googleapis.com/css?family=Roboto+Mono:400,300,500,700' rel='stylesheet' type='text/css'> <!-- Body font -->
    <link href='http://fonts.googleapis.com/css?family=Black+Ops+One' rel='stylesheet' type='text/css'> <!-- Alternative font -->
    <!-- Bootstrap CSS (http://getbootstrap.com) -->
    <link rel="stylesheet" href="~/vendor/bootstrap/css/bootstrap.min.css">

    <!-- Libs and Plugins CSS -->
    <link rel="stylesheet" href="~/vendor/animate.min.css"> <!-- Animations CSS (more info: http://daneden.github.io/animate.css) -->
    <link rel="stylesheet" href="~/vendor/font-awesome/css/font-awesome.min.css"> <!-- Font Icons (more info: http://fortawesome.github.io/Font-Awesome) -->
    <link rel="stylesheet" href="~/vendor/ytplayer/css/jquery.mb.YTPlayer.min.css"> <!-- YTPlayer JS (more info: https://github.com/pupunzi/jquery.mb.YTPlayer) -->
    <link rel="stylesheet" href="~/vendor/owl-carousel/css/owl.carousel.css"> <!-- Owl Carousel CSS (more info: http://www.owlcarousel.owlgraphic.com) -->
    <link rel="stylesheet" href="~/vendor/owl-carousel/css/owl.carousel.plugins.css"> <!-- Owl Carousel plugins CSS (more info: http://www.owlcarousel.owlgraphic.com) -->
    <link rel="stylesheet" href="~/vendor/owl-carousel/css/owl.theme.default.css"> <!-- Owl Carousel default theme CSS (more info: http://www.owlcarousel.owlgraphic.com) -->
    <link rel="stylesheet" href="~/vendor/magnific-popup/css/magnific-popup.css"> <!-- Magnific Popup CSS (more info: http://dimsemenov.com/plugins/magnific-popup/) -->
    <!-- Theme master CSS -->
    <link rel="stylesheet" href="~/css/helper.css">
    <link rel="stylesheet" href="~/css/theme.css">

    <!-- Theme styles CSS (comment or uncomment below lines to enable/disable styles) -->
    <!-- <link rel="stylesheet" media="screen" title="blue-theme" href="css/styles/blue.css"> -->
    <!-- <link rel="stylesheet" media="screen" title="brown-theme" href="css/styles/brown.css"> -->
    <!-- <link rel="stylesheet" media="screen" title="green-theme" href="css/styles/green.css"> -->
    <!-- <link rel="stylesheet" media="screen" title="purple-theme" href="css/styles/purple.css"> -->
    <!-- <link rel="stylesheet" media="screen" title="yellow-theme" href="css/styles/yellow.css"> -->
    <!-- Theme custom CSS (all your CSS customizations) -->
    <link rel="stylesheet" href="~/css/custom.css">
    

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript" src="http://maps.google.com/maps/api/js"></script>
    <script type="text/javascript" src="http://www.geocodezip.com/scripts/v3_epoly.js"></script>

    <script type="text/javascript">


  var map;
  var directionDisplay;
  var directionsService;
  var stepDisplay;

  var position;
  var marker = [];
  var polyline = [];
  var poly2 = [];
  var poly = null;
  var startLocation = [];
  var endLocation = [];
  var timerHandle = [];


  var speed = 0.000005, wait = 1;
  var infowindow = null;

  var myPano;
  var panoClient;
  var nextPanoId;

  var startLoc = new Array();
  startLoc[0] = 'Brasov,Romania';

  var endLoc = new Array();
  endLoc[0] = 'Bucuresti';
  var items = ['Iasi,Romania'];//aici se pun destinatiile intermediare
  var waypoints = [];
        for (var i = 0; i < items.length; i++) {
            var address = items[i];
            if (address !== "") {
                waypoints.push({
                    location: address,
                    stopover: true
                });
            }
        }

  var Colors = ["#FF0000", "#00FF00", "#0000FF"];


function initialize() {

  infowindow = new google.maps.InfoWindow(
    {
      size: new google.maps.Size(150,50)
    });

    var myOptions = {
      zoom: 16,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

    address = 'Romania'
    geocoder = new google.maps.Geocoder();
    geocoder.geocode( { 'address': address}, function(results, status) {
     map.fitBounds(results[0].geometry.viewport);

    });
  setRoutes();
  }


function createMarker(latlng, label, html) {
// alert("createMarker("+latlng+","+label+","+html+","+color+")");
    var contentString = '<b>'+label+'</b><br>'+html;
    var marker = new google.maps.Marker({
        position: latlng,
        map: map,
        title: label,
        zIndex: Math.round(latlng.lat()*-100000)<<5
        });
        marker.myname = label;


    google.maps.event.addListener(marker, 'click', function() {
        infowindow.setContent(contentString);
        infowindow.open(map,marker);
        });
    return marker;
}

function setRoutes(){

    var directionsDisplay = new Array();

    for (var i=0; i< startLoc.length; i++){

    var rendererOptions = {
        map: map,
        suppressMarkers : true,
        preserveViewport: true
    }
    directionsService = new google.maps.DirectionsService();

    var travelMode = google.maps.DirectionsTravelMode.DRIVING;

    var request = {
        origin: startLoc[i],
        destination: endLoc[i],
        waypoints: waypoints,
        travelMode: travelMode
    };

        directionsService.route(request,makeRouteCallback(i,directionsDisplay[i]));

    }


    function makeRouteCallback(routeNum,disp){
        if (polyline[routeNum] && (polyline[routeNum].getMap() != null)) {
         startAnimation(routeNum);
         return;
        }
        return function(response, status){

          if (status == google.maps.DirectionsStatus.OK){

            var bounds = new google.maps.LatLngBounds();
            var route = response.routes[0];
            startLocation[routeNum] = new Object();
            endLocation[routeNum] = new Object();


            polyline[routeNum] = new google.maps.Polyline({
            path: [],
            strokeColor: '#FFFF00',
            strokeWeight: 3
            });

            poly2[routeNum] = new google.maps.Polyline({
            path: [],
            strokeColor: '#FFFF00',
            strokeWeight: 3
            });


            // For each route, display summary information.
            var path = response.routes[0].overview_path;
            var legs = response.routes[0].legs;


            disp = new google.maps.DirectionsRenderer(rendererOptions);
            disp.setMap(map);
            disp.setDirections(response);


            //Markers
            for (i=0;i<legs.length;i++) {
              if (i == 0) {
                startLocation[routeNum].latlng = legs[i].start_location;
                startLocation[routeNum].address = legs[i].start_address;
                // marker = google.maps.Marker({map:map,position: startLocation.latlng});
                marker[routeNum] = createMarker(legs[i].start_location,"start",legs[i].start_address,"green");
              }
              endLocation[routeNum].latlng = legs[i].end_location;
              endLocation[routeNum].address = legs[i].end_address;
              var steps = legs[i].steps;

              for (j=0;j<steps.length;j++) {
                var nextSegment = steps[j].path;
                var nextSegment = steps[j].path;

                for (k=0;k<nextSegment.length;k++) {
                    polyline[routeNum].getPath().push(nextSegment[k]);
                    //bounds.extend(nextSegment[k]);
                }

              }
            }

         }

         polyline[routeNum].setMap(map);
         //map.fitBounds(bounds);
         startAnimation(routeNum);

    } // else alert("Directions request failed: "+status);

  }

}

    var lastVertex = 1;
    var stepnum=0;
    var step = 20; // 5; // metres
    var tick = 50; // milliseconds
    var eol= [];
//----------------------------------------------------------------------
 function updatePoly(i,d) {
 // Spawn a new polyline every 20 vertices, because updating a 100-vertex poly is too slow
    if (poly2[i].getPath().getLength() > 20) {
          poly2[i]=new google.maps.Polyline([polyline[i].getPath().getAt(lastVertex-1)]);
          //map.addOverlay(poly2)
        }

    if (polyline[i].GetIndexAtDistance(d) < lastVertex+2) {
        if (poly2[i].getPath().getLength()>1) {
            poly2[i].getPath().removeAt(poly2[i].getPath().getLength()-1)
        }
            poly2[i].getPath().insertAt(poly2[i].getPath().getLength(),polyline[i].GetPointAtDistance(d));
    } else {
        poly2[i].getPath().insertAt(poly2[i].getPath().getLength(),endLocation[i].latlng);
    }
 }
//----------------------------------------------------------------------------

function animate(index,d) {
   if (d>eol[index]) {

      marker[index].setPosition(endLocation[index].latlng);
      return;
   }
    var p = polyline[index].GetPointAtDistance(d);

    //map.panTo(p);
    marker[index].setPosition(p);
    updatePoly(index,d);
    timerHandle[index] = setTimeout("animate("+index+","+(d+step)+")", tick);
}

//-------------------------------------------------------------------------

function startAnimation(index) {
        if (timerHandle[index]) clearTimeout(timerHandle[index]);
        eol[index]=polyline[index].Distance();
        map.setCenter(polyline[index].getPath().getAt(0));

        poly2[index] = new google.maps.Polyline({path: [polyline[index].getPath().getAt(0)], strokeColor:"#FFFF00", strokeWeight:3});

        timerHandle[index] = setTimeout("animate("+index+",50)",2000);  // Allow time for the initial map display
}

//----------------------------------------------------------------------------



    </script>



</head>


<!-- Additional information
============================
* You are free to use extra helper classes to customize your website (look into "helper.css" file).
* To use scrolling animations please read more information here: http://mynameismatthieu.com/WOW/index.html.
-->
<!-- =================
///// Begin body /////
======================
* Add class="boxed" to use boxed layout (example: <body class="boxed" data-spy="scroll" data-target="#scrollspy">).
* Use backgroun classes to change boxed layout background color. example: <body class="boxed bg-dark" data-spy="scroll" data-target="#scrollspy"> (look into "helper.css" file for more info).
-->
<body data-spy="scroll" data-target="#scrollspy" onload="initialize()">


    @RenderBody()


    <script src="vendor/jquery/jquery-1.11.1.min.js"></script> <!-- jquery JS (more info: https://jquery.com) -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script> <!-- bootstrap JS (more info: http://getbootstrap.com) -->
    <!-- Libs and Plugins JS -->
    <script src="vendor/ytplayer/js/jquery.mb.YTPlayer.min.js"></script> <!-- YTPlayer JS (more info: https://github.com/pupunzi/jquery.mb.YTPlayer) -->
    <script src="vendor/wow.min.js"></script> <!-- WOW animations JS (more info: http://mynameismatthieu.com/WOW/index.html) -->
    <script src="vendor/owl-carousel/js/owl.carousel.js"></script> <!-- Owl Carousel JS (more info: http://www.owlcarousel.owlgraphic.com) -->
    <script src="vendor/owl-carousel/js/owl.carousel.plugins.js"></script> <!-- Owl Carousel plugins JS (more info: http://www.owlcarousel.owlgraphic.com) -->
    <script src="vendor/magnific-popup/js/jquery.magnific-popup.min.js"></script> <!-- Magnific Popup JS (more info: http://dimsemenov.com/plugins/magnific-popup/) -->

    <script src="vendor/isotope.pkgd.min.js"></script> <!-- isotope JS (more info: http://isotope.metafizzy.co) -->
    <script src="vendor/imagesloaded.pkgd.min.js"></script> <!-- ImagesLoaded JS (https://github.com/desandro/imagesloaded) -->
    <script src="vendor/smoothscroll.js"></script> <!-- YTPlayer JS (more info: https://gist.github.com/theroyalstudent/4e6ec834be19bf077298) -->
    <script src="vendor/jquery.easing.min.js"></script> <!-- Easing JS (more info: http://gsgd.co.uk/sandbox/jquery/easing/) -->
    <!-- Theme master JS -->
    <script src="js/theme.js"></script>

    <!-- Theme custom JS (all your JS customizations) -->
    <script src="js/custom.js"></script>
    <script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
    </script>
    <script type="text/javascript">
_uacct = "UA-162157-1";
urchinTracker();
    </script>

    <!--==============================
    ///// Begin Google Analytics /////
    ============================== -->
    <!-- Paste your Google Analytics code here.
    Go to http://www.google.com/analytics/ for more information. -->
    <!--==============================
    ///// End Google Analytics /////
    ============================== -->

    <script type="text/javascript">

        $("#LoginButton").click(function (e) {

            var Username = $("#UsernameLogin").val();
            var Password = $("#PasswordLogin").val();

            $.ajax({
                type: "POST",
                url: '/Home/Login',
                data: {
                    username: Username,
                    password: Password
                },
                success: function (data) {
                    if (data == "0")
                    {
                        alert("Username si/sau parola gresit/e!");

                    }
                    else
                    {
                        location.reload();

                    }
                    
                },
                dataType: "json",
                error: function (data) {
                    alert("Username si/sau parola gresit/e!");
                    console.log(data);

                }
            });
        });


        $(".details").click(function (e) {

            var id_ruta = $(this).attr("id_traseu");
            console.log(id_ruta);
            $.ajax({
                type: "POST",
                url: '/Result/Details',
                data: {
                    id_ruta: id_ruta
                },
                success: function (data) {
                    $("#table_content").empty();

                    $.each(data, function (key, value) {

                        $('#myTable > tbody:last-child').append('<tr><td>'+value.StatieInitiala+'</td> <td>'+value.StatieFinala+'</td><td>'+value.OraPlecare+'</td><td>'+value.OraSosire+'</td><td>'+value.km+'</td></tr>');

                        console.log(value.StatieInitiala);
                    });
                    
                    
                },
                dataType: "json",
                error: function (data) {
                    console.log(data);

                }
            });

        })


        $(".details2015").click(function (e) {

            var id_ruta = $(this).attr("id_traseu");
            console.log(id_ruta);
            $.ajax({
                type: "POST",
                url: '/Result/Details2015',
                data: {
                    id_ruta: id_ruta
                },
                success: function (data) {
                    $("#table_content").empty();

                    $.each(data, function (key, value) {

                        $('#myTable > tbody:last-child').append('<tr><td>' + value.StatieInitiala + '</td> <td>' + value.StatieFinala + '</td><td>' + value.OraPlecare + '</td><td>' + value.OraSosire + '</td><td>' + value.km + '</td></tr>');

                        console.log(value.StatieInitiala);
                    });


                },
                dataType: "json",
                error: function (data) {
                    console.log(data);

                }
            });

        })


        $(".details2014").click(function (e) {

            var id_ruta = $(this).attr("id_traseu");
            console.log(id_ruta);
            $.ajax({
                type: "POST",
                url: '/Result/Details2014',
                data: {
                    id_ruta: id_ruta
                },
                success: function (data) {
                    $("#table_content").empty();

                    $.each(data, function (key, value) {

                        $('#myTable > tbody:last-child').append('<tr><td>' + value.StatieInitiala + '</td> <td>' + value.StatieFinala + '</td><td>' + value.OraPlecare + '</td><td>' + value.OraSosire + '</td><td>' + value.km + '</td></tr>');

                        console.log(value.StatieInitiala);
                    });


                },
                dataType: "json",
                error: function (data) {
                    console.log(data);

                }
            });

        })


    
        $("#LogOut").click(function (e) {

           

            $.ajax({
                type: "POST",
                url: '/Home/Logout',            
                success: function (data) {
                    
                    location.reload();
                },
                dataType: "json",
                error: function (data) {
                    console.log(data);

                }
            });
        });

        $("#register_button").click(function (e) {

            var email = $("#email_register").val();
            var username = $("#username_register").val();
            var password = $("#password_register").val();
            var repeat_password = $("#repeat_password_register").val();
            if (password == repeat_password)
            {
                $.ajax({
                    type: "POST",
                    url: '/Home/Register',
                    data: {
                        email: email,
                        username: username,
                        password:password
                    },
                    success: function (data) {
                        
                        if(data=="1")
                        {
                            alert("gj");

                        }
                        else
                        {
                            alert("username already exists");

                        }
                        
                    },
                    dataType: "json",
                    error: function (data) {
                        console.log(data);

                    }
                });

            }
            else {
                alert("password don't match");

            }

           
        });
        var search = 0;

        $("#search_link_one_way").click(function (e) {

            var origin = $("#origin").val();
            var destination = $("#destination").val();

            $.ajax({
                type: "POST",
                url: '/Home/SearchOneWay',
                data: {
                    origin: origin,
                    destination: destination

                },
                success: function (data) {

                    if (data != "1") {
                        alert("Something went wrong. Please try again.");

                    }
                    else {
                        window.location.href = "http://localhost:65412/result";

                    }

                },
                dataType: "json",
                error: function (data) {
                    console.log(data);
                    alert("Something went wrong. Please try again.");

                }
            });

        });


        $("#search_with_via_one_way").click(function (e) {

            var origin = $("#origin1").val();
            var destination = $("#destination1").val();
            var via = $("#via").val();
            $.ajax({
                type: "POST",
                url: '/Home/SearchViaOneWay',
                data: {
                    origin: origin,
                    destination: destination,
                    via: via
                },
                success: function (data) {
                    if (data != "1") {
                        alert("Something went wrong. Please try again.");
                    }
                    else {
                        window.location.href = "http://localhost:65412/result";
                    }
                },
                dataType: "json",
                error: function (data) {
                    console.log(data);
                    alert("Something went wrong. Please try again.");

                }
            });

        });


        $("#search_via_compose").click(function (e) {

            var origin = $("#origin1").val();
            var destination = $("#destination1").val();
            var via = $("#via").val();
            $.ajax({
                type: "POST",
                url: '/Home/SearchViaCompose',
                data: {
                    origin: origin,
                    destination: destination,
                    via: via
                },
                success: function (data) {
                    if (data != "1") {
                        alert("Something went wrong. Please try again.");
                    }
                    else {
                        window.location.href = "http://localhost:65412/result";
                    }
                },
                dataType: "json",
                error: function (data) {
                    console.log(data);
                    alert("Something went wrong. Please try again.");

                }
            });

        });

        $("#search_with_via").click(function (e) {

            var origin = $("#origin1").val();
            var destination = $("#destination1").val();
            var via = $("#via").val();
            $.ajax({
                type: "POST",
                url: '/Home/SearchVia',
                data: {
                    origin: origin,
                    destination: destination,
                    via:via
                },
                success: function (data) {
                    if (data != "1") {
                        alert("Something went wrong. Please try again.");
                    }
                    else {
                        window.location.href = "http://localhost:65412/result";
                    }
                },
                dataType: "json",
                error: function (data) {
                    console.log(data);
                    alert("Something went wrong. Please try again.");

                }
            });

        });

        $("#search_with_avoiding").click(function (e) {

            var origin = $("#origin2").val();
            var destination = $("#destination2").val();
            var avoid = $("#avoid").val();
            $.ajax({
                type: "POST",
                url: '/Home/SearchAvoid',
                data: {
                    origin: origin,
                    destination: destination,
                    avoid: avoid
                },
                success: function (data) {
                    if (data != "1") {
                        alert("Something went wrong. Please try again.");
                    }
                    else {
                        window.location.href = "http://localhost:65412/result";
                    }
                },
                dataType: "json",
                error: function (data) {
                    console.log(data);
                    alert("Something went wrong. Please try again.");

                }
            });

        });

        $("#search_with_avoiding_one_way").click(function (e) {

            var origin = $("#origin2").val();
            var destination = $("#destination2").val();
            var avoid = $("#avoid").val();
            $.ajax({
                type: "POST",
                url: '/Home/SearchAvoidOneWay',
                data: {
                    origin: origin,
                    destination: destination,
                    avoid: avoid
                },
                success: function (data) {
                    if (data != "1") {
                        alert("Something went wrong. Please try again.");
                    }
                    else {
                        window.location.href = "http://localhost:65412/result";
                    }
                },
                dataType: "json",
                error: function (data) {
                    console.log(data);
                    alert("Something went wrong. Please try again.");

                }
            });

        });

        $("#search_link").click(function (e) {
            



                var origin = $("#origin").val();
                var destination = $("#destination").val();

                $.ajax({
                    type: "POST",
                    url: '/Home/Search',
                    data: {
                        origin: origin,
                        destination: destination

                    },
                    success: function (data) {

                        if (data != "1") {
                            alert("Something went wrong. Please try again.");

                        }
                        else {
                            window.location.href = "http://localhost:65412/result";

                        }

                    },
                    dataType: "json",
                    error: function (data) {
                        console.log(data);
                        alert("Something went wrong. Please try again.");

                    }
                });
            
            /*
                var origin = $("#origin").val();
                var destination = $("#destination").val();
                var via = $("#via").val();

                $.ajax({
                    type: "POST",
                    url: '/Home/SearchVia',
                    data: {
                        origin: origin,
                        destination: destination,
                        via:via

                    },
                    success: function (data) {

                        if (data != "1") {
                            alert("Something went wrong. Please try again.");

                        }
                        else {
                            window.location.href = "http://localhost:65412/result";

                        }

                    },
                    dataType: "json",
                    error: function (data) {
                        console.log(data);
                        alert("Something went wrong. Please try again.");

                    }
                });

            */
        });
       
       

        $("#advanced_search").click(function (e) {
            if(search==0)
            {
                $("#advance_search_show").show();
                var da=document.getElementById("advanced_search").innerHTML = "Hide advanced search";
                search = 1;
            }
            else
            {
                $("#advance_search_show").hide();
                var da=document.getElementById("advanced_search").innerHTML = "Show advanced search";
                search = 0;
            }
       
        });

        $("#login_trigger").click(function (e) {
           
            var da = document.getElementById("plus_trigger").click();
            //var da = document.getElementById("login_trigger").innerHTML = "Login";

        });

        $(".go_to_map").click(function (e) {

            var plecare = $(this).attr("plecare");
            var sosire = $(this).attr("sosire");

            var link = 'http://students.info.uaic.ro/~andrei.ciornei/?startLoc=' + plecare + '&endLoc=' + sosire;
            console.log(link);


            var win = window.open(link, '_blank');
            win.focus();


        })

        $(".save").click(function (e) {

            var id_ruta = $(this).attr("id_traseu");
            var plecare = $(this).attr("plecare");
            var sosire = $(this).attr("sosire");


            $.ajax({
                type: "POST",
                url: '/Result/Save',
                data: {
                    id_ruta: id_ruta,
                    plecare: plecare,
                    sosire: sosire

                },
                success: function (data) {

                    if (data != "1") {
                        alert("You already saved this.");

                    }
                    else {
                        alert("Done");

                    }

                },
                dataType: "json",
                error: function (data) {
                    console.log(data);
                    alert("Something went wrong. Please try again.");

                }
            });

        });


        $(".delete").click(function (e) {

            var id_ruta = $(this).attr("id_traseu");
            var plecare = $(this).attr("plecare");
            var sosire = $(this).attr("sosire");

            console.log(id_ruta);
            $.ajax({
                type: "POST",
                url: '/SavedRoutes/Delete',
                data: {
                    id_ruta: id_ruta
                    
                },
                success: function (data) {

                    location.reload();

                },
                dataType: "json",
                error: function (data) {
                    console.log(data);
                    alert("Something went wrong. Please try again.");

                }
            });

        });

        $("#logout_button").click(function (e) {

            $.ajax({
                type: "POST",
                url: '/Home/Logout',
                success: function (data) {

                    location.reload();
                },
                dataType: "json",
                error: function (data) {
                    console.log(data);

                }
            });

        })

        $("#send_mail").click(function (e) {

            var email_mail = $("#email_mail").val();
            var subiect_mail = $("#subiect_mail").val();
            var continut_mail = $("#continut_mail").val();

            $.ajax({
                type: "POST",
                url: '/Home/SendMail',
                data: {
                    email_mail: email_mail,
                    subiect_mail: subiect_mail,
                    continut_mail:continut_mail

                },
                success: function (data) {

                    if(data=="1")
                    {
                        alert("sent");

                    }

                },
                dataType: "json",
                error: function (data) {
                    console.log(data);
                    alert("Something went wrong. Please try again.");

                }
            });

        });


    </script>
    

</body>
<!-- End body -->

</html>