﻿@using Microsoft.AspNet.Http
@{
    Layout = "_Layout";
}
<div id="preloader">
    <div class="pulse"></div>
</div>

<div id="body-content">


    <section id="top-slidingbar-wrapper" class="slidingbar-fixed">
        <div id="top-slidingbar">
            <div class="container">
                <div class="row">

                    <div class="col col-md-4">
                        <h4 class="top-slidingbar-heading text-gray-2">Information</h4>
                        <hr class="hr-width-1 hr-double margin-top-15">
                        <p class="small">
                            Romanian train routes on web. This is a personal project, not an official website. For more informations please go to contact section.
                        </p>
                    </div> <!-- /.col -->

                    <div class="col col-md-4">
                        <h4 class="top-slidingbar-heading text-gray-2">Contact</h4>
                        <hr class="hr-width-1 hr-double margin-top-15">
                        <ul class="list-unstyled small">
                            <li><i class="fa fa-home"></i> Facultatea de informatica, UAIC, Iasi</li>
                            <li><i class="fa fa-phone"></i> +4 0742 760 660</li>
                            <li><i class="fa fa-envelope-o"></i> <a href="mailto:support@mail.com">andrei.ciornei@outlook.com</a></li>
                        </ul>
                    </div> <!-- /.col -->

                    @if (@Context.Session.GetString("loged") == "1")
                    {
                        <div class="col col-md-4">

                            <h4 class="top-slidingbar-heading text-gray-2">Hello</h4>
                            <hr class="hr-width-1 hr-double margin-top-15">

                            <p class="small">
                                @Context.Session.GetString("nume"), you can see <a href="#">here</a> your saved routes and travels or you can
                            </p>

                            <div class="row">
                                <div class="col-lg-12">
                                    <button id="LogOut" type="submit" class="btn btn-primary btn-rounded btn-block btn-md">Log out</button>
                                </div>
                            </div>

                        </div>
                    }
                    else {
                        <div class="col col-md-4">

                            <h4 class="top-slidingbar-heading text-gray-2">Log in</h4>
                            <hr class="hr-width-1 hr-double margin-top-15">

                            <!-- Begin thumbnail list
                            ==========================
                            * Use class "col-2", "col-3", "col-4" "col-5" or "col-6" for thumbnail list columns.
                            * Use class "gutter-1", "gutter-2", "gutter-3", "gutter-4" or "gutter-5" to add more space between items.
                            -->



                            <form id="contact-form" class="text-white wow fadeIn" data-wow-delay="0.3s">



                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input id="UsernameLogin" type="text" class="form-control" name="Name:" placeholder="Username" required="Please enter your username">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input id="PasswordLogin" type="password" class="form-control " name="Subject:" placeholder="Password" required="Please enter your password">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-8">
                                        <ul class="list-unstyled small">

                                            <li><i class="fa fa-envelope-o"></i> <a class="item-link inline-popup-trigger" href="#forgot_password">forgot your password?</a></li>
                                        </ul>

                                    </div>
                                </div>


                                <!--
                                popup forgot password
                                -->
                                <div id="forgot_password" class="inline-popup mfp-hide">
                                    <div class="inline-popup-inner">

                                        <!--
                                            <div class="inline-popup-image bg-image" style="background-image: url(img/portfolio/big/portfolio-img-1.jpg); background-position: 50% 50%;"></div>
                                        -->


                                        <div class="row margin-top-40">
                                            <div class="col-md-8 margin-bottom-20">
                                                <h2 class="no-margin-top"><i class="fa fa-train" style="margin-right:10px"></i>Reset your password here</h2>
                                                <p>Enter your email adress to proceed</p>

                                                <form id="contact-form" class="margin-top-80 text-white wow fadeIn" data-wow-delay="0.3s">

                                                    <!-- Begin hidden required fields (https://github.com/agragregra/uniMail) -->
                                                    <input type="hidden" name="project_name" value="yourwebsiteaddress.com"> <!-- Change value to your site name -->
                                                    <input type="hidden" name="admin_email" value="your@email.com"> <!-- Change value to your email address (where a message will be sent) -->
                                                    <input type="hidden" name="form_subject" value="Message from yourwebsiteaddress.com"> <!-- Change value to your own message subject -->
                                                    <!-- End Hidden Required Fields -->

                                                    <div class="row">
                                                        <div class="col-lg-8">
                                                            <div class="form-group">
                                                                <input type="email" class="form-control" name="Email:" placeholder="Your Email" required="Please enter your email adress">
                                                            </div>
                                                        </div>

                                                    </div>

                                                    <div class="row">
                                                        <div class="col-lg-8">
                                                            <button type="submit" class="btn btn-primary btn-rounded btn-block btn-lg">Reset</button>
                                                        </div>
                                                    </div>
                                                </form>


                                            </div>

                                        </div> <!-- /.row -->

                                    </div> <!-- /.inline-popup-inner -->

                                    <a class="inline-popup-close" href="#"><i class="fa fa-times"></i></a>

                                </div>




                            </form>
                            <div class="row">
                                <div class="col-lg-12">
                                    <button id="LoginButton" type="submit" class="btn btn-primary btn-rounded btn-block btn-md">Log in</button>
                                </div>
                            </div>

                        </div>
                    }

                </div> <!-- /.row -->
            </div> <!-- /.container -->
        </div> <!-- /.top-slidingbar -->
        <!-- top-top-slidingbar trigger -->
        <div class="top-slidingbar-trigger-wrapper"><span class="top-slidingbar-trigger">+</span></div>

    </section>




    <section id="section-7" class="testimonials-section bg-dark angle-right-top angle-left-bottom bg-image-parallax" style="background-image: url(~/wwwroot/assets/img/misc/bg-2.jpg);">
        <span class="cover bg-transparent-9-5-dark"></span>

        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="heading heading-lg heading-hover text-white wow fadeIn">
                        <span class="heading-title-ghost">
                        @foreach(var item in ViewBag.saved)
                        {
                            @item.username
                            break;

                        }
                        's Routes</span>
                        <h2 class="heading-title">
                        @foreach (var item in ViewBag.saved)
                        {
                            @item.username
                            break;

                        }'s Routes</h2>


                        <hr class="hr-width-1 hr-5x border-main">

                    </div>
                </div>
            </div>

        </div>
        <div class="container">
            <div class="row wow fadeIn" data-wow-delay="0.3s">
                <div class="col-md-12">



                    @foreach (var item in ViewBag.saved)
                    {

                        
                        <div class="testimonial-wrap">

                            <div class="owl-carousel testimonial-carousel dots-outside text-white" data-items="1" data-loop="false">

                                <!-- Begin testimonial item -->
                                <div class="testimonial-item text-gray-2">
                                    <img src="img/testimonial/train-2.png" style="margin-top:15px" alt="image">
                                    <blockquote>
                                        <p> Traseul cu id-ul: @item.id_traseu <br /> Plecare: @item.plecare / Destinatie: @item.sosire </p>
                                        <a href="#mapp" class="small text-cyan map inline-popup-trigger" style="margin-left:15px" plecare="@item.plecare" sosire="@item.sosire">See map</a>
                                        
                                            <a  href="javascript:void(0);" class="small text-gray delete" style="margin-left:15px" id_traseu="@item.id_traseu" plecare="@item.plecare" sosire="@item.sosire">Delete this route<i class="fa fa-heart-o"></i></a>
                                        
                                        
                                    </blockquote>
                                </div>


                            </div>


                        </div>

                    }

                    <div id="mapp" class="inline-popup mfp-hide">
                        <div class="inline-popup-inner">

                            <!--
                <div class="inline-popup-image bg-image" style="background-image: url(img/portfolio/big/portfolio-img-1.jpg); background-position: 50% 50%;"></div>
            -->


                            <div class="row margin-top-40">

                                <div id="right-panel">
                                    <div id="inputs">
                                        <pre>
                                            var my_origins=//origins//;
                                            var my_destinations=//destinations//; 
		
                                            </pre>
                                    </div>
                                    <div>
                                        <strong>Results</strong>
                                    </div>
                                    <div id="output"></div>
                                </div>
                                <div id="map"></div>


                            </div> <!-- /.row -->

                        </div>

                    </div> <!-- /.col -->


                </div> <!-- /.col -->
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </section>
</div>
